<br>
<h1 class="text-center p-2">Terms And Conditions</h1>
<div class="container-fluid p-4 bg-light">
    <div class="row">
        <div class="col-md-12">
            <div class="align-items-center">
                <div class="col-md-12">

                    <ul>
                        
                        <li><span>
                                Your use and access to the website constitute acceptance of these Terms and Conditions
                                as at the date of your first use of the website.
                            </span></li>
                        <li><span>
                                You agree to use the website only for lawful purposes, and in a manner which does not
                                infringe the rights, or restrict, or inhibit the use and enjoyment of the website by any
                                third party.
                            </span></li>
                        <li><span>
                                Apna Charitable Trust reserves the rights to change these Terms and Conditions at any
                                time by posting changes online. Your continued use of the website after changes are
                                posted constitutes your acceptance of the new Terms and Conditions as modified
                                automatically. You should, therefore, review these Terms and Conditions regularly.
                            </span></li>
                        <li><span>
                                Apna Charitable Trust takes no responsibility for the content of external internet
                                websites. Following links to any other websites or pages shall be at your own risk and
                                Apna Charitable Trust shall not be responsible or liable, directly or indirectly, for
                                any damages resulting from the use of such other websites.
                            </span></li>
                        <li><span>All intellectual property on the website and the material or information it contains
                                including without limitation copyright, designs, database rights and trademarks
                                (registered or unregistered) are and shall remain the property of Apna Charitable Trust
                                or its third party licensors.</span></li>
                        <li><span>Commercial use or publication of all or any item displayed on the site without
                                authorization from Apna Charitable Trust is strictly prohibited. Nothing contained in
                                these Terms and Conditions shall be construed as conferring any licensee by Apna
                                Charitable Trust to use any item displayed.</span></li>
                        <li>
                            <span>
                                Materials in the website may be copied for personal use only on the condition that all
                                copyright notices and source indications are also reproduced, no modifications are made
                                and each relevant item is copied in its entirety. Some materials that have been
                                outsourced have been published on the website with all the necessary permissions from
                                the relevant copyright owners (who are not part of Apna Charitable Trust). All rights
                                are reserved on these materials and permission to copy them must be requested. from the
                                individual copyright owners (as indicated within these materials).
                            </span>
                        </li>
                        <li>
                            <span>
                                Any communication or material that you transmit to, or post on, any public area of the
                                website including any data, questions, comments, suggestions, or the like, is and will
                                be treated as non-confidential and non-proprietary information. Apna Charitable Trust
                                reserves the right to remove any such communication or material from the website at its
                                own discretion.
                            </span>
                        </li>
                        <li>
                            <span>
                                If there is any conflict between these Terms and Conditions and rules and/or specific
                                terms of use appearing on the Website relating to specific material then the latter
                                shall prevail.
                            </span>
                        </li>
                        <li>
                            <span>
                                These Terms and Conditions shall be governed and construed in accordance with the laws
                                of India. Any disputes shall be subject to the non-exclusive jurisdiction of the Indian
                                Courts.
                            </span>
                        </li>
                        <li>
                            <span>
                                If these Terms and Conditions are not accepted in full, the use of the website must be
                                terminated immediately.
                            </span>
                        </li>
                        <li>
                            <span>
                                Visitors acknowledge that visiting this site is an implicit acceptance of these 'Terms
                                and Conditions' on their part.
                            </span>
                        </li>
                        <li>
                            <span>
                                Accepting 'Terms and Conditions' means an implicit acceptance of our Disclaimer and Privacy Policy
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>