<br>
<h1 class="text-center">Disclaimer</h1>
<div class="container-fluid p-4 bg-light">
    <div class="row">
        <div class="col-md-12">
            <p>
                Apnacharitabletrust.org shall Endeavour to put up only such information on the site, as it has verified
                from the NGOs, or otherwise as being true to the best of their knowledge and belief. However,
                Apnacharitabletrust.org does not accept any liability due to inaccuracy of information or data provided
                on this site. Any liabilities arising out of any act or omission by a visitor to this site, by relying
                on or using the information provided on this site shall be solely to the account of such visitor.
            </p>
            <p>
                Apnacharitabletrust.org will strive to ensure that the NGOs send tax exemption certificates and feedback
                reports to the donors within reasonable time limits. Apnacharitabletrust.org shall exert reasonable
                influence at its command, including withdrawal of non-compliant NGOs from the site, if, in its opinion,
                the situation merits such action. However, Apnacharitabletrust.org is indemnified by donors on this
                site, from any liabilities arising out of any kind of non-compliance by the NGOs.
            </p>
            <p>
                Apnacharitabletrust.org disclaims any liability, legal or otherwise, that may arise due to the act, omission or otherwise of any visitor to this site, or caused by the same. Visitors to the site acknowledge that Apnacharitabletrust.org is purely a "facilitator" for transactions between the NGOs and visitors, and as such, stands indemnified from any liabilities that may arise due to the same.
                Visitors also acknowledge that visiting this site is an implicit acceptance of this disclaimer on their part.
            </p>
            <p>
                Visitors
                moreover acknowledge that visiting this site is an implicit reception of this disclaimer on
                their part.
            </p>
        </div>
    </div>
</div>