
<!-- Main Footer -->
<footer class="p-4 bg-footer text-white text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="text-warning font-weight-bold text-left border-bottom border-warning w-75">Quick Links</h3>
                    <ul class="unorder" style="list-style-type: none;padding: 0; float: left; text-align: justify;">
                        <li>
                            <a class="text-white" routerLinkActive="active"  [routerLink]="['/home']">Home</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/aboutUs']">About Us</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/projects']">Projects</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/gallery']">Gallery</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/contactUs']">Contact Us</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/donate']">Donate</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/documents']">Documents</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="text-warning font-weight-bold text-left border-bottom border-warning w-75">Contact Us</h3>
                    <ul class="p-0 text-justify unorder list-unstyled">
                        <li><i class="fas fa-phone "></i> Phone Number</li>
                        <li>+91 9533669922</li>
                        <li> <i class="fas fa-envelope"></i> Email</li>
                        <li>apnacharitabletrust2015@gmail.com</li>
                        <li><h3 class="text-warning border-bottom border-warning w-50">Follow Us</h3></li>
                        <li><a mat-raised-button href="https://www.facebook.com/apna.charitabletrust.9?ref=br_tf&epa=SEARCH_BOX" target="_blank"  class="fb"   color="primary">
                            <i class="fab fa-facebook-f  text-left   fa-2x"></i>
                    </a></li>
                    </ul>
                </div>
                <!-- <div class="col-md-3">
                    <h5 class=" font-weight-bold text-left border-bottom border-warning ">Developed & Maintained by</h5>
                    <ul class="p-0 text-justify list-unstyled">
                        <li><a class="text-warning" href="http://vedaslabs.com/" target="_blank">
                              VEDAS LABS
                        </a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-md-6 p-2">
                <p class="text-white-50 small">Copyright &copy; 2019 - APNA CHARITABLE TRUST</p>
            </div>
            <div class="col-md-6 p-2">
                <a class="text-white-50 small" routerLinkActive="active" [routerLink]="['/termsandconditions']">Terms & Conditions</a>&nbsp;
                <a class="text-white-50 small" routerLinkActive="active" [routerLink]="['/disclaimer']">Disclaimer</a>&nbsp;
                <a class="text-white-50 small" routerLinkActive="active" [routerLink]="['/privacypolicy']">Privacy Policy</a> 
                <a class="text-white-50 small" routerLinkActive="active" [routerLink]="['/refundpolicy']">Refund Policy</a>
                <span class="example-spacer ml-5"></span>
                <small class="text-white-50 ml-5">Powered By @ <a class="text-warning" href="http://vedaslabs.com/" target="_blank">
                    VEDAS LABS
              </a></small> 
            </div>
        </div>
    </div>    