<div class="container-fluid">
    <div class="row">
            <div class="col-12 h-25">
                    <app-carousel></app-carousel>
            </div>
    </div>
</div>
<div class="container gallery" >

                <h1 class="font-weight-bold text-center  text-lg-left mt-4 mb-0">Apna Charitable Trust Gallery</h1>
              
                <hr class="mt-2 mb-5">
              
                <div class="row text-center text-lg-left">
                                <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/medicalCamp.jpg" style="width: 400px;;max-height: 200px;" alt="">
                                                    </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/medicalCamp2.jpg" style="width: 400px;;max-height: 200px;" alt="">
                                                    </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/healthCamp2.jpg" style="width: 400px;max-height: 150px;" alt="">
                                                </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/20170302_074643.jpg"  alt="">
                                                    </div>
                                              </div>
                                              <!-- 2nd row -->
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/team.jpg" style="width: 400px;;max-height: 200px;" alt="">
                                                    </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/PhigicallyChallenged2.jpg" style="width: 400px;;max-height: 200px;" alt="">
                                                    </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/carams.jpg" style="width: 400px;max-height: 150px;" alt="">
                                                </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/womensDay.jpg"  alt="">
                                                    </div>
                                              </div>
                               
                                              <!-- 3rd Row -->
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/phigicallyChallenged.jpg" style="width: 400px;;max-height: 200px;" alt="">
                                                    </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/PensDistribution.jpg" style="width: 400px;;max-height: 200px;" alt="">
                                                    </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/plantation.jpg" style="width: 400px;max-height: 150px;" alt="">
                                                </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/scienceFair.jpg"  alt="">
                                                    </div>
                                              </div>
                               
                                              <!-- 3rd Row -->
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/DressDistribution.jpg" style="width: 400px;;max-height: 200px;" alt="">
                                                    </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/dressDistribution3.jpg" style="width: 400px;;max-height: 200px;" alt="">
                                                    </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/kuttuMachines1.jpg" style="width: 400px;max-height: 150px;" alt="">
                                                </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/kuttuMachine2.jpg"  alt="">
                                                    </div>
                                              </div>
                                <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4 h-100">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170305-WA0034.jpg" style="width: 400px;;max-height: 200px;" alt="">
                                                    </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4 h-100">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170305-WA0041.jpg" style="width: 400px;;max-height: 200px;" alt="">
                                                    </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4 h-100">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170226-WA0043.jpg" style="width: 400px;;max-height: 200px;" alt="">
                                                    </div>
                                              </div>
                                              <div class="col-lg-3 col-md-4 col-6">
                                                <div class="d-block mb-4 h-100">
                                                      <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG_20170111_090234-1.jpg" style="width: 400px;;max-height: 200px;" alt="">
                                                    </div>
                                              </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170227-WA0022.jpg" style="width: 400px;;max-height: 200px;" alt="">
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170302-WA0041.jpg" style="width: 400px;;max-height: 200px;" alt="">
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170302-WA0072.jpg" alt="">
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170302-WA0052.jpg" alt="">
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170302-WA0075.jpg" alt="">
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <div  class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170302-WA0124.jpg" alt="">
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170302-WA0130.jpg" alt="">
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170304-WA0008.jpg" alt="">
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170304-WA0008.jpg" alt="">
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170304-WA0025.jpg" alt="">
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170304-WA0016.jpg" alt="">
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                          <img class="img-fluid img-thumbnail" src="../../../assets/gallery/IMG-20170304-WA0037.jpg" alt="">
                        </div>
                  </div>
                </div>
              
              </div>
              <!-- /.container -->