.banner img{
  max-height: 460px;
}
.card{
  max-height: 560px;
}
  .scroll {
    overflow-y: scroll;
    color: rgba(250, 250, 250, 1);
    font-weight: 500;
    max-height: 70% !important;
     overflow-y: scroll;
     background-image: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
                  ),url('../../../assets/apnahome_bg.jpg');
                   background-repeat: no-repeat;
                   background-size: cover;
                   background-position-y: 50%;
 }
 .scroll::-webkit-scrollbar {
     width: 10px;
 }
 
 .scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     border-radius: 10px;
 }
 
 .scroll::-webkit-scrollbar-thumb {
     border-radius: 10px;
     box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 }
 .gradient{
     background: linear-gradient(to right,#3a7bd5,#3a6073) !important;
 }
 .background{
background-color: #ffee8e;
 }
 