<div class="container-fluid ">
    <div class="row">
        <div class="container mt-3">
            <div class="row ">
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/projects/education2.jpg" class="card-img img-thumbnail" alt="..."
                                    style="max-height: 230px;max-width: 400px;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title font-weight-bold text-primary">Eductaion</h3>
                                    <p class="card-text">
                                    </p>
                                    <ol>
                                        <li>We Conduct vocational and professional courses.</li>
                                        <li>Provide Education materials for poor students.</li>
                                        <li>Financial support to BPL students.</li>
                                    </ol>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../../assets/gallery/medicalCamp2.jpg" class="card-img"
                                    alt="..." style="max-height: 230px; max-width: 400px;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title font-weight-bold text-primary">Medical Camps</h3>
                                    <p class="card-text"> </p>
                                    <ol>
                                        <li>We Conduct medical, eye, dental and blood donation camps.</li>
                                        <li> Run Ambulance service, pharmacy stores, Clinical Labs and Blood Banks.</li>
                                        <li>Minor and Major operations for BPL patients.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4 ">
                                <img src="assets/projects/Rural.jpg" class="card-img img-thumbnail" alt="..."
                                    style="max-height: 230px;max-width: 400px;">
                            </div>
                            <div class="col-md-8 order-md-1 order-sm-2">
                                <div class="card-body">
                                    <h3 class="card-title font-weight-bold text-primary">Rural Development Programs</h3>
                                    <ol>
                                        <li>To conduct crop development Programme.</li>
                                        <li> Construct Minor check
                                            dams and farmer clubs.</li>
                                        <li> Financial support for irrigation bore wells, waste land
                                            development, livestock and horticulture etc..</li>
                                    </ol>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/projects/Sports.jpg" class="card-img" alt="..."
                                    style="max-height: 230px; max-width: 400px;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title font-weight-bold text-primary">Sports Programs</h3>
                                    <ol>
                                        <li>We Conduct sports and games.</li>
                                        <li>Distribution of Sports and Game Materials.</li>
                                        <li>Financial support for sport persons.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../../assets/projects/cultural-programs-250x250.png" class="card-img"
                                    alt="..." width="100%">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title font-weight-bold text-primary">Cultural Programs</h3>
                                    <ol>
                                        <li>We conduct cultural Programmes.</li>
                                        <li>Distribution of cultural related materials.</li>
                                        <li>Financial support for cultural Programmes</li>
                                    </ol>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
           
            <div class="row ">
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/projects/emergency.jpg" class="card-img img-thumbnail" alt="..."
                                    style="max-height: 200px;max-width: 350px;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title font-weight-bold text-primary">Emergency Reliefe</h3>
                                    <ol>
                                        <li> Maintain quick reaction team help for victims of fire, flood and accidents.</li>
                                        <li>Provide free food, clothes, medicine and accommodation Shelters.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>