<br>
<h1 class="text-center"><b>Refund policy </b></h1>
<div class="container-fluid p-4 bg-light">
    <div class="row">
        <div class="col-md-12">

            <div>
            
                <p>

                    Apna charitable trust has structured a refund policy for transparent processing of the refunds of
                    the donors who pay through all modes of payments. Apna Charitable Trust requests all users to do the
                    transactions carefully as we are facing the incidents of erroneous payments or change in mind after
                    donations.
                    Refund/ cancellation of the amount are not entertained under any circumstances, whether the mode of
                    transaction is through the online gateway or cash especially under situations after issuing of
                    exemption certificates.
                    We would request the users to write a mail to Apna charitable trust within 15 days from the date of
                    the transaction i.e., from the date of online transaction, date of receiving the Demand draft/cheque
                    in cases of refund.
                    You have to write to Apna Charitable trust with the details like Donation Amount, date of
                    transaction, Cheque number of transaction, Credit card number of transaction, Demand draft number of
                    transaction. If the donation was through online mode of the transaction please provide the reference
                    number.
                    All decisions of Apna charitable trust in this regard will be final and binding on the donor.

                </p>
                <p><span class="text-danger">Note :</span> If the tax exemption certificate is already issued, then we are sorry but we will
                    not be able to refund the donation. However, in case of a valid refund request due to any error on
                    CRY’s part, CRY will refund the donation and bear the costs of the same.</p>

            </div>
        </div>
    </div>
</div>