<div class="container-fluid p-0">
    <div  class="head font-weight-bold">
        <h3 class="p-2 font-weight-bold">Apna Charitable Trust</h3>
    </div>
    <mat-card class="example-card  shadow text-center">
        <mat-card-content>
              <h2 class="text-success mt-2 text-center"></h2>
     <p class="text-muted text-center font-weight-bold">Would you like to consider this amount as a tax exemption..? </p>
        </mat-card-content>
        <br>
        <mat-card-actions class="d-flex justify-content-center">
            <button mat-raised-button  (click)="notAccept()" color="warn">No</button>
            <button mat-raised-button  (click)="accept()" color="primary">Yes</button>
          </mat-card-actions>
      </mat-card>
</div>