<div class="container">
  <div class="row">
    <div class="colmd12">
      <mat-list>
        <h3 mat-subheader>12A and 80G Documents</h3>
        <mat-list-item >
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>Trust Deed & Pan Details</h4>
          <a href="../../../assets/trust_deed_protected.pdf" target="_blank"  mat-line class="text-primary">Click to See</a>
        </mat-list-item>
        <mat-list-item >
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>12A & 80G</h4>
          <a href="../../../assets/12A&80G.pdf" mat-line target="_blank" class="text-primary">Click to See</a>
        </mat-list-item>
        <mat-list-item >
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>Annual Program Report</h4>
            <a href="../../../assets/Activities_REPORT_16_17.pdf" target="_blank" mat-line class="text-primary">Click to See</a>
          </mat-list-item>
          <mat-list-item >
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>Bank Authorization Letter</h4>
            <a href="../../../assets/Bank_authorization_letter_new-protected.pdf" target="_blank" mat-line class="text-primary">Click to See</a>
          </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Audit Files</h3>
        <mat-list-item >
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>Audit Report 2015-16</h4>
          <a href="../../../assets/audit_2015-16.pdf" mat-line target="_blank" class="text-primary"> Click to see </a>
        </mat-list-item>
        <mat-list-item >
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>Audit Report 2016-17</h4>
            <a href="../../../assets/audit_2016-17.pdf" mat-line target="_blank" class="text-primary"> Click to see </a>
          </mat-list-item>
          <mat-list-item >
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>Audit Report 2017-18</h4>
            <a href="../../../assets/audit_2017-18-protected.pdf" target="_blank" mat-line class="text-primary"> Click to see </a>
          </mat-list-item>
          <mat-list-item >
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>Audit Report 2018-19</h4>
            <a href="../../../assets/audit_2018-19-protected.pdf" mat-line target="_blank" class="text-primary"> Click to See </a>
          </mat-list-item>
      </mat-list>
      
    </div>
  </div>
</div>